<form [formGroup]="productCategoryForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Product Category</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="productCategoryForm.get('name').hasError('required')">
              Name <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-button type="button" (click)="createItem()">
            <i class="fa fa-plus-square"></i> Add Category Type
          </button>
        </div>
      </div>
      <div class="row" *ngFor="let type of getControls(); let i = index;">
        <div class="col">
          <button mat-button type="button" (click)="removeItem(i)" *ngIf="getControls().length > 1">
            <i class="fas fa-trash-alt"></i>
          </button>
          <mat-form-field formArrayName="types" class="max-half-width">
            <div [formGroupName]="i">
              <input matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="getControls()[i].get('name').hasError('required')">
                Name <strong>required</strong>
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="secondary" type="button" (click)="back()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
  <ngx-spinner [name]="spinnerName"></ngx-spinner>
</form>
