<form [formGroup]="outletToWarehouseForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title *ngIf="pageMode === 0">Move Products from Outlet to Warehouse</mat-card-title>
      <mat-card-title *ngIf="pageMode !== 0 && moveInventorySnapshot">
        Move Products from {{ moveInventorySnapshot.source['outlet'].name }} to {{ moveInventorySnapshot.destination['warehouse'].name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" *ngIf="pageMode === 0">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Outlet" formControlName="outletId" (selectionChange)="setOriginSnapshot($event)">
              <mat-option *ngFor="let outletItem of outletItems" [value]="outletItem">
                {{ outletItem.outlet.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="outletToWarehouseForm.controls['outletId'].hasError('required')">
              Outlet is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Destination Warehouse" formControlName="destinationWarehouseId" (selectionChange)="setDestinationSnapshot($event)">
              <mat-option *ngFor="let warehouseItem of warehouseItems" [value]="warehouseItem">
                {{ warehouseItem.warehouse.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="outletToWarehouseForm.controls['destinationWarehouseId'].hasError('required')">
              Warehouse is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <button mat-raised-button color="secondary" type="button" (click)="loadLatestSnapshot()"> <i class="fa fa-pallet"></i>  Use Latest Inventory</button>
        </div>
      </div>
      <div class="row" *ngIf="pageMode === 0">
        <div class="col">
          <app-product-finder [productItems]="productItems" (productSelected)="addProduct($event)"></app-product-finder>
        </div>
      </div>
      <div *ngIf="products.controls.length">
        <div *ngFor="let type of products.controls; let i = index;">
          <div class="row" formArrayName="products">
            <div class="col" [formGroupName]="i">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="right-aligned-header">
                    <mat-panel-title>
                      {{ getProductName(i) | titlecase }}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ getProductVariationCount(i) }} Variant(s)
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <button mat-button type="button" (click)="removeProduct(i)" *ngIf="pageMode === 0">
                    <i class="fa fa-trash-alt"></i> Remove Product
                  </button>
                  <mat-card>
                    <mat-card-content>
                      <div *ngFor="let type of getProductVariations(i).controls; let x = index;">
                        <div formArrayName="productVariations">
                          <div class="row" [formGroupName]="x">
                            <div class="col">
                              <mat-form-field class="full-width">
                                <input matInput placeholder="Variation Name" formControlName="name">
                                <mat-error *ngIf="getProductVariations(i).controls[x].get('name').hasError('required')">
                                  Variation Name is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field class="full-width">
                                <input matInput placeholder="SKU" formControlName="sku">
                                <mat-error *ngIf="getProductVariations(i).controls[x].get('sku').hasError('required')">
                                  SKU is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field class="full-width">
                                <input matInput placeholder="Code" formControlName="code">
                                <mat-error *ngIf="getProductVariations(i).controls[x].get('code').hasError('required')">
                                  Code is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field class="full-width">
                                <input matInput placeholder="Price" formControlName="price">
                                <mat-error *ngIf="getProductVariations(i).controls[x].get('price').hasError('required')">
                                  Price is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field class="full-width">
                                <input matInput placeholder="Count" formControlName="count">
                                <mat-error *ngIf="getProductVariations(i).controls[x].get('count').hasError('required')">
                                  Count is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>

                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="secondary" type="button" (click)="back()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" *ngIf="pageMode === 0">Submit</button>
    </mat-card-actions>
  </mat-card>
  <ngx-spinner [name]="spinnerName"></ngx-spinner>
</form>
