.full-width {
  width: 100%;
}

.max-half-width {
  max-width: 50%;
}

.max-three-quarter-width {
  max-width: 75%;
}

.max-quarter-width {
  max-width: 25%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.fa {
  vertical-align: baseline !important;
}

form {
  position: relative;
}

.mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-description,
.mat-expansion-panel-header[aria-disabled=true] .mat-expansion-panel-header-title {
  font-weight: bolder !important;
  color: #555 !important;
}
