<mat-accordion  *ngFor="let product of inventoryProducts">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>
        <h3>{{ product.product.name | titlecase }}</h3>
      </mat-panel-title>
      <mat-panel-description>
        <h5>{{ product.product.variations.length }} Variant(s)</h5>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card>
      <mat-card-content>

        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected><span>Total Count:</span>&nbsp;<span>{{ getTotalCount(product.productVariations) | number:'.0' }}</span></mat-chip>
          <mat-chip color="primary" selected><span>Reorder Point:</span>&nbsp;<span>{{ product.reOrderPoint | number:'.0' }}</span></mat-chip>
          <mat-chip color="secondary" selected><span>Category:</span>&nbsp;<span>{{ product.product.category }}</span></mat-chip>
          <mat-chip color="secondary" selected><span>Brand:</span>&nbsp;<span>{{ product.product.brand }}</span></mat-chip>
          <mat-chip color="secondary" selected><span>Type:</span>&nbsp;<span>{{ product.product.type }}</span></mat-chip>
        </mat-chip-list>
        <p>{{ product.product.description }}</p>

        <mat-grid-list cols="2" rowHeight="150px">
          <mat-grid-tile
              *ngFor="let productVariation of product.productVariations"
              [colspan]="1"
              [rowspan]="1">
              <h4>{{ productVariation.name }}</h4>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected><span>Count: </span>&nbsp;<span>{{ productVariation.count | number:'.0' }}</span></mat-chip>
                <mat-chip color="accent" selected><span>Price: </span>&nbsp;<span>{{ productVariation.price  | currency:'PHP ':'code':'1.2-2' }}</span></mat-chip>
                <mat-chip><span>SKU:</span>&nbsp;<span>{{ productVariation.sku }}</span></mat-chip>
                <mat-chip><span>Code:</span>&nbsp;<span>{{ productVariation.code }}</span></mat-chip>
              </mat-chip-list>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>
    </mat-card>

  </mat-expansion-panel>
</mat-accordion>
