
<mat-card class="action-card">
  <mat-card-actions>
    <button mat-raised-button color="primary" type="button" [routerLink]="['./outlet/new']"><i class="fa fa-plus-square"></i> Request Inventory Update</button>
  </mat-card-actions>
</mat-card>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.createdAt.toDate() | date:'yyyy-MM-dd' }}</td>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="outlet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Outlet</th>
      <td mat-cell *matCellDef="let row">{{row.outlet.outlet.name}}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.status | inventorySnapshotStatus}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" type="button" (click)="view(row)" title="View" *ngIf="row.status !== 0"><i class="fa fa-eye"></i></button>
        <button mat-raised-button color="primary" type="button" (click)="approve(row)" title="Approve" *ngIf="row.status === 0"><i class="fa fa-thumbs-up"></i></button>
        <button mat-raised-button color="primary" type="button" (click)="reject(row)" title="Reject" *ngIf="row.status === 0"><i class="fa fa-ban"></i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
