<mat-tab-group>
  <mat-tab label="Outlet to Warehouse">
    <app-outlet-to-warehouse-form [outletItems]="outletItems" [productItems]="productItems" [warehouseItems]="warehouseItems"></app-outlet-to-warehouse-form>
  </mat-tab>
  <mat-tab label="Warehouse to Outlet">
    <app-warehouse-to-outlet-form [outletItems]="outletItems" [productItems]="productItems" [warehouseItems]="warehouseItems"></app-warehouse-to-outlet-form>
  </mat-tab>
  <mat-tab label="Outlet to Outlet">
    <app-outlet-to-outlet-form [outletItems]="outletItems" [productItems]="productItems"></app-outlet-to-outlet-form>
  </mat-tab>
  <mat-tab label="Warehouse to Warehouse">
    <app-warehouse-to-warehouse-form [productItems]="productItems" [warehouseItems]="warehouseItems"></app-warehouse-to-warehouse-form>
  </mat-tab>
</mat-tab-group>
<ngx-spinner [name]="spinnerName"></ngx-spinner>
