<mat-tab-group>
  <mat-tab label="Outlet to Warehouse">
    <app-move-inventory-list [moveInventoryType]="0"></app-move-inventory-list>
  </mat-tab>
  <mat-tab label="Warehouse to Outlet">
    <app-move-inventory-list [moveInventoryType]="2"></app-move-inventory-list>
  </mat-tab>
  <mat-tab label="Outlet to Outlet">
    <app-move-inventory-list [moveInventoryType]="1"></app-move-inventory-list>
  </mat-tab>
  <mat-tab label="Warehouse to Warehouse">
    <app-move-inventory-list [moveInventoryType]="3"></app-move-inventory-list>
  </mat-tab>
</mat-tab-group>
<ngx-spinner [name]="spinnerName"></ngx-spinner>
